<h1>Books</h1>
<p>Book Collection 1</p>

<p> Application made by <%= @created_by %> </p>

<h2> Title: The rainbow fish </h2>
<%= link_to('Show', {action: 'show', title: 'The rainbow fish', author: 'Marcus Pfister', price: 7.95, published: 1992 }) %><br />

<br /> 

<h2> Title: Green eggs and ham </h2>
<%= link_to('Show', {action: 'show', title: 'The rainbow fish', author: 'Marcus Pfister', price: 7.95, published: 1992 }) %><br />

<br /> 

<h2> Title: Harry Potter: Chamber of secrets</h2>
<%= link_to('Show', {action: 'show', title: 'The rainbow fish', author: 'Marcus Pfister', price: 7.95, published: 1992 }) %><br />

<br /> 

<h2> Title: Charlotte's web </h2>
<%= link_to('Show', {action: 'show', title: 'The rainbow fish', author: 'Marcus Pfister', price: 7.95, published: 1992 }) %><br />

<br /> 

<h2> Title: The very hungry caterpillar </h2>
<%= link_to('Show', {action: 'show', title: 'The rainbow fish', author: 'Marcus Pfister', price: 7.95, published: 1992 }) %><br />


<br /> 
<ul>
<% @tasks.each do |task| %>
    <li><%= task %></li>
<% end %>
</ul>

<% x = 1 + 1 %><br />
<%= x %><br />

<a href= "/new"> Add new book </a><br />